mat-expansion-panel {
  margin-bottom: 2.5% !important;
  background-color: var(--bluish-white) !important;
}

@media (max-width: 768px) {
  div {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 769px) {
  div {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.mat-expansion-panel-header {
  box-shadow: 0 0 8px 0 var(--dark-blue) !important;
}

.mat-expansion-panel-header:hover {
  background-color: var(--bluish-white) !important;
}

:host::ng-deep .mat-expansion-panel-content {
  background-color: white !important;
}