#whiteboard {
    border-top: none;
    border-bottom: none;
}

:host::ng-deep #whiteboard .mat-tab-header {
    background-color: var(--bluish-white) !important;
    box-shadow: 0 0 8px 0 var(--dark-blue) !important;
}

:host::ng-deep #whiteboard .mat-tab-body {
    background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#whiteboard mat-icon {
    margin-right: 5px;
}

#logo {
    width: 100%;
    max-height: 86vh;
    object-fit: scale-down;
}