<div id="whiteboard">
  <header>
    <img 
    srcset="assets/img/background-logo-360px.webp 360w,
            assets/img/background-logo-512px.webp 512w,
            assets/img/background-logo-1280px.webp 1280w"
    sizes="(max-width: 360px) 360px,
           (max-width: 512px) 512px,
           1280px"
    src="assets/img/background-logo-1280px.webp" 
    id="logo" alt="Logo" aria-label="Logo">
  </header>
  <mat-tab-group [tabIndex]="0" (selectedTabChange)="changeTab($event)" mat-align-tabs="center" animationDuration="0ms"
    dynamicHeight mat-stretch-tabs>
    <mat-tab aria-label="About us">
      <ng-template mat-tab-label class="test">
        <mat-icon class="example-tab-icon">info</mat-icon>
        {{ 'pages.main.ABOUT_US' | translate }}
      </ng-template>

      <app-about-us-tab></app-about-us-tab>
    </mat-tab>

    <mat-tab aria-label="News">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">announcement</mat-icon>
        {{ 'pages.main.NEWS' | translate }}
      </ng-template>

      <app-news-tab *ngIf="tabIndex == 1"></app-news-tab>
    </mat-tab>
  </mat-tab-group>
</div>