.background {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  background: var(--background-compatibility-full); /* fallback for old browsers */
  background: var(--background-compatibility); /* Chrome 10-25, Safari 5.1-6 */
  background: var(--background); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}