.info-header {
  text-align: center;
  background-color: var(--malibu);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 6px;
}

.session-img {
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
}

.header-date {
  font-size: x-large;
}

.header-name {
  font-weight: 500;
  font-size: x-large;
}

.content-header {
  font-weight: 500;
  font-size: large;
  margin: 5px 0;
  padding: 5px;
}

.content-description {
  margin: 3px;
}

.info-content {
  margin-top: 5px;
  text-align: center;
}

.container {
  width: 60vw;
}

::ng-deep.mat-dialog-content {
  width: 100%;
}
