<div *ngIf="(lngService.dictionary$ | async) as $">
    <form [formGroup]="form" *ngIf="{errors: $.errors, form: $.pages.account.profile_add.form} as $">
        <mat-grid-list cols="1" rowHeight="7rem">
            <mat-grid-tile>
                <app-name [control]="form.get('name')" [translation]="$" [serverError]="serverInputsErrors?.name"></app-name>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-lastname [control]="form.get('lastname')" [translation]="$" [serverError]="serverInputsErrors?.lastname"></app-lastname>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-date-birth [control]="form.get('dateBirth')" [translation]="$" [serverError]="serverInputsErrors?.dateBirth"></app-date-birth>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-skill-level [control]="form.get('skillLevel')" [translation]="$" [values]="skillLevelPossibleValues"></app-skill-level>
            </mat-grid-tile>
        </mat-grid-list>

        <div>
            <button mat-button (click)="onCancel.emit()" class="cancelButton">{{ $.form.controls.CANCEL }}</button>
            <button mat-button (click)="createProfile()" id="createButton">{{ $.form.controls.CREATE }}</button>
        </div>
    </form>
</div>