<div [formGroup]="form">
  <mat-vertical-stepper linear>
    <mat-step label="Base informations" [stepControl]="form.get('base')">
      <form formGroupName="base" *ngIf="form.get('base'); let base">
        <mat-form-field *ngIf="base.get('email'); let email">
          <mat-label>E-mail</mat-label>
          <input 
          id="email"
          type="email" 
          matInput 
          placeholder="example@mail.com" 
          [formControl]="email" required>

          <mat-icon>email</mat-icon>

          <mat-error *ngIf="email.hasError('not-exists')">
            Email not exists
          </mat-error>
          <mat-error *ngIf="email.hasError('server-error')">
            {{this.serverInputsErrors['email']}}
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="base.get('password'); let password">
          <mat-label>Password</mat-label>
          <input 
          id="password"
          type="password"
          matInput 
          [formControl]="password" required
          [errorStateMatcher]="errorStateMatcher.password">
          <mat-icon>vpn_key</mat-icon>
          
          <mat-error *ngIf="password.hasError('too-short')">
            Password is too short
          </mat-error>
          <mat-error *ngIf="password.hasError('too-long')">
            Password is too long
          </mat-error>
          <mat-error *ngIf="password.hasError('too-easy')">
            Password is too easy
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="base.get('repeatPassword'); let password">
          <mat-label>Repeat password</mat-label>
          <input 
          id="repeatPassword"
          type="password"
          matInput 
          [formControl]="password" required
          [errorStateMatcher]="errorStateMatcher.repeatPassword">
          <mat-icon>vpn_key</mat-icon>
          
          <mat-error *ngIf="password.hasError('not-equals')">
            Passwords are not equals
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious >Back</button>
          <button mat-button matStepperNext class="nextButton">Next</button>
          <button mat-button (click)="onCancel.emit()" class="cancelButton">Cancel</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Personal informations" [stepControl]="form.get('personal')">
      <form formGroupName="personal" *ngIf="form.get('personal'); let personal">
        <mat-form-field *ngIf="personal.get('name'); let name">
          <mat-label>Name</mat-label>
          <input 
          id="name"
          type="text" 
          matInput 
          placeholder="Jan" 
          [formControl]="name" required
          [errorStateMatcher]="errorStateMatcher.name">
          
          <mat-error *ngIf="name.hasError('invalid')">
            Invalid name
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="personal.get('lastname'); let lastname">
          <mat-label>Lastname</mat-label>
          <input 
          id="lastname"
          type="text" 
          matInput 
          placeholder="Kowalski" 
          [formControl]="lastname" required
          [errorStateMatcher]="errorStateMatcher.lastname">
          
          <mat-error *ngIf="lastname.hasError('invalid')">
            Invalid lastname
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="personal.get('dateBirth'); let dateBirth">
          <mat-label>Date of birth</mat-label>
          <input 
          id="dateBirth"
          type="date" 
          matInput 
          [formControl]="dateBirth" required
          [errorStateMatcher]="errorStateMatcher.dateBirthday">
          <mat-icon>cake</mat-icon>

          <mat-error *ngIf="dateBirth.hasError('invalid')">
            Invalid date of birth
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="personal.get('telephoneNumber'); let tel">
          <mat-label>Telephone</mat-label>
          <input 
          id="telephoneNumber"
          type="tel" 
          matInput 
          [formControl]="tel">
          <mat-icon>local_phone</mat-icon>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext class="nextButton">Next</button>
          <button mat-button (click)="onCancel.emit()" class="cancelButton">Cancel</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Additional informations" [stepControl]="form.get('additional')">
      <form formGroupName="additional">
        <mat-form-field>
          <mat-label>Skill level</mat-label>
          <mat-select formControlName="skillLevel">
            <mat-option *ngFor="let lvl of skillLevelPossibleValues" 
            [value]="lvl">{{lvl}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="register()" id="registerButton">Register</button>
          <button mat-button (click)="onCancel.emit()" class="cancelButton">Cancel</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>