<div [formGroup]="form">
  <mat-vertical-stepper linear>
    <mat-step label="Base informations">
      <form formGroupName="base" *ngIf="form.get('base'); let base">
        <mat-form-field *ngIf="base.get('email'); let email">
          <mat-label>E-mail</mat-label>
          <input 
          type="email" 
          matInput 
          placeholder="example@mail.com" 
          formControlName="email" required>
          <mat-icon>email</mat-icon>

          <mat-error *ngIf="email.hasError('not-exists')">
            Email not exists
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="base.get('password'); let password">
          <mat-label>Password</mat-label>
          <input 
          type="password"
          matInput 
          formControlName="password" required
          [errorStateMatcher]="errorStateMatcher.password">
          <mat-icon>vpn_key</mat-icon>
          
          <mat-error *ngIf="password.hasError('too-short')">
            Password is too short
          </mat-error>
          <mat-error *ngIf="password.hasError('too-long')">
            Password is too long
          </mat-error>
          <mat-error *ngIf="password.hasError('too-easy')">
            Password is too easy
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="base.get('repeatPassword'); let password">
          <mat-label>Repeat password</mat-label>
          <input 
          type="password"
          matInput 
          formControlName="repeatPassword" required
          [errorStateMatcher]="errorStateMatcher.repeatPassword">
          <mat-icon>vpn_key</mat-icon>
          
          <mat-error *ngIf="password.hasError('not-equals')">
            Passwords are not equals
          </mat-error>
        </mat-form-field>
      </form>

      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Next</button>
      <button mat-button (onClick)="onCancel.emit()" type="button">Cancel</button>
    </mat-step>

    <mat-step label="Personal informations">
      <form formGroupName="personal" *ngIf="form.get('personal'); let personal">
        <mat-form-field *ngIf="personal.get('name'); let name">
          <mat-label>Name</mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="Jan" 
          formControlName="name" required
          [errorStateMatcher]="errorStateMatcher.name">
          
          <mat-error *ngIf="name.hasError('invalid')">
            Invalid name
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="personal.get('lastname'); let lastname">
          <mat-label>Lastname</mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="Kowalski" 
          formControlName="lastname" required
          [errorStateMatcher]="errorStateMatcher.lastname">
          
          <mat-error *ngIf="lastname.hasError('invalid')">
            Invalid lastname
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="personal.get('dateBirth'); let dateBirth">
          <mat-label>Date of birth</mat-label>
          <input 
          type="date" 
          matInput 
          formControlName="dateBirth" required
          [errorStateMatcher]="errorStateMatcher.dateBirthday">
          <mat-icon>cake</mat-icon>

          <mat-error *ngIf="dateBirth.hasError('invalid')">
            Invalid date of birth
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telephone</mat-label>
          <input 
          type="tel" 
          matInput 
          formControlName="telephoneNumber">
          <mat-icon>local_phone</mat-icon>
        </mat-form-field>
      </form>

      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Next</button>
      <button mat-button (onClick)="onCancel.emit()" type="button">Cancel</button>
    </mat-step>

    <mat-step label="Additional informations">
      <form formGroupName="additional">
        <mat-form-field>
          <mat-label>Skill level</mat-label>
          <mat-select formControlName="skillLevel">
            <mat-option *ngFor="let lvl of skillLevelPossibleValues" 
            [value]="lvl">{{lvl}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button (onClick)="register()" type="button">Register</button>
      <button mat-button (onClick)="onCancel.emit()" type="button">Cancel</button>
    </mat-step>
  </mat-vertical-stepper>
</div>