<app-middle-column>
  <div style="text-align: center">
    <mat-form-field appearance="fill">
      <mat-label>{{'pages.session-list.date-range' | translate}}</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input (dateChange)="loadSessionsFromDateRange()" [(ngModel)]="date_from" matStartDate placeholder="Start date">
        <input (dateChange)="loadSessionsFromDateRange()" [(ngModel)]="date_to" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker touchUi #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let session of sessions">
        <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
          <mat-panel-title>
            {{formatterService.shortenName(session.name, 20)}} ({{formatterService.getDifficultyParsed(session.difficulty).name}})
          </mat-panel-title>
          <mat-panel-description>
            <span style="margin-right: 5px">{{session.profiles.length}}/{{session.max_participants}}</span>
            <div
              style="text-align: end; width: 100%">{{formatterService.shortenDateTimeString(session.start_date)}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="example-button-row">
          <button (click)="showParticipantList(session)" mat-raised-button
                  color="primary">{{'pages.session-list.actions.show' | translate}}
          </button>
          <button (click)="cancelSession(session)" mat-raised-button
                  color="warn">{{'pages.session-list.actions.cancel' | translate}}</button>
          <button (click)="editSession(session)" mat-raised-button
                  color="basic">{{'pages.session-list.actions.edit' | translate}}</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</app-middle-column>


