<main id="about-us">
  <section (click)="showFullArticle(article, 'assets/img/x' + i + '.webp')" *ngFor="let article of articles; index as i">
    <div class="feature-img">
      <img [src]="'assets/img/x' + i + '.webp'" [alt]="'Image ' + i">
    </div>
    <div class="text">
      <h1>{{article.title}}</h1>
      <div class="half-hr"></div>
      <p>{{formatterService.shortenName(article.text, maxArticleLength)}}
        <a style="font-weight: 500; color: var(--dark-blue)" *ngIf="article.text.length > maxArticleLength">Czytaj dalej</a>
      </p>
    </div>
  </section>
</main>
