<main id="about-us">
  <section>
    <div class="feature-img">
      <img src="assets/img/x0.jpg" alt="">
    </div>

    <div class="text">
      <h1>About us</h1>
      <div class="half-hr"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales laoreet purus eget hendrerit.
        Ut tempor massa in nunc dignissim elementum. Proin et metus ac purus fringilla consequat.
      </p>
    </div>
  </section>

  <section>
    <div class="feature-img">
      <img src="assets/img/x1.jpg" alt="">
    </div>

    <div class="text">
      <h1>Lorem ipsum</h1>
      <div class="half-hr"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales laoreet purus eget hendrerit.
        Ut tempor massa in nunc dignissim elementum. Proin et metus ac purus fringilla consequat.
      </p>
    </div>
  </section>

  <section>
    <div class="feature-img">
      <img src="assets/img/x2.jpg" alt="">
    </div>
    <div class="text">
      <h1>Lorem ipsum</h1>
      <div class="half-hr"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales laoreet purus eget hendrerit.
        Ut tempor massa in nunc dignissim elementum. Proin et metus ac purus fringilla consequat.
      </p>
    </div>
  </section>

  <section>
    <div class="feature-img">
      <img src="assets/img/x3.jpg" alt="">
    </div>

    <div class="text">
      <h1>Lorem ipsum</h1>
      <div class="half-hr"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales laoreet purus eget hendrerit.
        Ut tempor massa in nunc dignissim elementum. Proin et metus ac purus fringilla consequat.
      </p>
    </div>
  </section>
</main>