<ng-container *ngIf="render">
  <app-middle-column>
      <div>
        <app-tab-router-outlet>
          <ng-template appTabSubpage [url]="urls.LOGGED.NOTIFICATIONS" *appAccessCommonUser
                       [label]="'pages.account.menu.ACCOUNT_NOTIFICATIONS' | translate"></ng-template>

          <ng-template appTabSubpage [url]="urls.LOGGED.RESERVATIONS" *appAccessCommonUser
                       [label]="'pages.account.menu.RESERVATIONS' | translate"></ng-template>

          <ng-template appTabSubpage [url]="urls.LOGGED.SETTINGS"
                       [label]="'pages.account.menu.ACCOUNT_SETTINGS' | translate"></ng-template>

          <ng-template appTabSubpage [url]="urls.LOGGED.PROFILE_ADD" *appAccessCommonUser
                       [label]="'pages.account.menu.PROFILE_ADD' | translate"></ng-template>

          <ng-template appTabSubpage [url]="urls.LOGGED.PROFILE_SETTINGS"
                       [label]="'pages.account.menu.PROFILE_SETTINGS' | translate"></ng-template>
        </app-tab-router-outlet>
      </div>
  </app-middle-column>
</ng-container>


