@media (max-width: 768px) {
    div {
        padding: 0;
    }

    mat-card {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 5% 0 0;
    }
}

@media (min-width: 769px) {
    div {
        padding: 2vw 20vw 0 20vw;
    }
}
