@media (max-width: 768px) {
    div {
        padding: 0;
    }

    mat-card {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 769px) {
    div {
        padding-top: 2vw;
        padding-left: 30vw;
        padding-right: 30vw;
    }
}