.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.with-full-height {
  position: absolute;
  top: 64px;
  height: calc(100vh - 64px);
}

.with-box-shadow {
  box-shadow: 0 0 10px;
  background: var(--background);
}

.background {
  background: var(--secondary-background);
}

.content-with-padding {
  padding: 5% 5%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 0 100% 0 !important;
  }
}
