<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ (lngService.dictionary$ | async)?.pages.registration.cardTitle }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-registration
            (onSubmit)="backTimeout()"
            (onStartWaiting)="pending = true"
            (onStopWaiting)="pending = false"
            (onCancel)="back()">
            </app-registration>

            <div class="wait" *ngIf="pending">
                <mat-spinner></mat-spinner>
            </div>
        </mat-card-content>
    </mat-card>
</div>