<ng-container *ngIf="(lngService.dictionary$ | async) as $">
  <ng-container *ngIf="{errors: $.errors, form: $.pages.account.settings.form} as $">
    <div class="row-right">
      <mat-slide-toggle [(ngModel)]="editMode" id="editSlider">
        {{ $.form.controls.EDIT }}
      </mat-slide-toggle>
    </div>

    <form [formGroup]="form">
      <app-email [control]="form.get('email')" [translation]="$" [serverError]="serverInputsErrors?.email">
      </app-email>

      <div class="inline-flex">
        <app-name [control]="form.get('name')" [translation]="$" [serverError]="serverInputsErrors?.name">
        </app-name>

        <app-lastname [control]="form.get('lastname')" [translation]="$" [serverError]="serverInputsErrors?.lastname">
        </app-lastname>
      </div>

      <div class="inline-flex">
        <app-date-birth [control]="form.get('dateBirth')" [translation]="$"
          [serverError]="serverInputsErrors?.dateBirth">
        </app-date-birth>

        <app-telephone [control]="form.get('telephoneNumber')" [translation]="$"
          [serverError]="serverInputsErrors?.telephoneNumber"></app-telephone>
      </div>

      <app-skill-level [control]="form.get('skillLevel')" [translation]="$" [values]="skillLevelPossibleValues">
      </app-skill-level>

      <div class="buttons">
        <button mat-button (click)="onCancel.emit()" class="cancelButton" [disabled]="!editMode">{{ $.form.controls.CANCEL }}</button>
        <button appAccessOnlineButton mat-button (click)="edit()" id="saveButton" [disabled]="!editMode">
          {{ $.form.controls.SAVE }}
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>