<mat-form-field >
    <mat-label>{{ translation.form.inputs.PASSWORD }}</mat-label>
    <input id="password" type="password" matInput [formControl]="control" required>
    <mat-icon>vpn_key</mat-icon>

    <mat-error *ngIf="control.hasError('required')">
      {{ translation.errors.inputs.general.REQUIRED }}
    </mat-error>
    <mat-error *ngIf="control.hasError('minlength')">
      {{ translation.errors.inputs.password.MIN_LENGTH }}
    </mat-error>
    <mat-error *ngIf="control.hasError('maxlength')">
      {{ translation.errors.inputs.password.MAX_LENGTH }}
    </mat-error>
    <mat-error *ngIf="control.hasError('not-pass-regex')">
      {{ translation.errors.inputs.password.REGEX_SECURITY }}
    </mat-error>
    <mat-error *ngIf="control.hasError('below-entrophy')">
      {{ translation.errors.inputs.password.TOO_EASY }}
    </mat-error>
    <mat-error *ngIf="control.hasError('server-error')">
      {{ serverError }}
    </mat-error>
  </mat-form-field>