<mat-form-field>
  <mat-label>{{ 'inputs.PASSWORD' | translate }}</mat-label>
  <input id="password" type="password" matInput [formControl]="control" required>
  <mat-icon>vpn_key</mat-icon>

  <mat-error *ngIf="control.hasError('required')">
    {{ 'errors.inputs.general.REQUIRED' | translate }}
  </mat-error>
  <mat-error *ngIf="control.hasError('minlength')">
    {{ 'errors.inputs.password.MIN_LENGTH' | translate }}
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    {{ 'errors.inputs.password.MAX_LENGTH' | translate }}
  </mat-error>
  <mat-error *ngIf="control.hasError('not-pass-regex')">
    {{ 'errors.inputs.password.REGEX_SECURITY' | translate }}
  </mat-error>
  <mat-error *ngIf="control.hasError('below-entrophy')">
    {{ 'errors.inputs.password.TOO_EASY' | translate }}
  </mat-error>
  <mat-error *ngIf="control.hasError('server-error')">
    {{ serverError }}
  </mat-error>
</mat-form-field>
