<div cdkDropList (cdkDropListDropped)="dropProfile($event)" class="sessionCard" (click)="openDialog()">
  <div class="time-header">
    {{startTime}} - {{endTime}}
  </div>
  <div class="cardTitle">{{sessionData.name}}</div>
  <mat-divider></mat-divider>
  <div class="groupLevel">Poziom grupy: {{sessionData.difficulty}}</div>
  <div class="sessionDescription">
    {{sessionData.description}}
  </div>
  <div (click)="addParticipant($event)" class="addParticipantButton">
    Dodaj uczestnika
  </div>
</div> -->
