.sessionCard {
  width: calc(100% - 22px);
  margin: 7px;
  padding: 2px 4px;
  background-color: azure;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.15s;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.sessionCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.addParticipantButton {
  background-color: var(--very-dark-blue);
  margin: 4px -4px -2px -4px;
  padding: 4px;
  border-radius: 0 0 5px 5px;
  color: white;
  cursor: pointer;
}

.cardTitle {
  font-size: larger;
}

.groupLevel {
  margin: 2px;
}

.sessionDescription {
  margin: 2px;
  font-size: medium;
}

hr {
  border-top: 2px solid gray;
}
