<app-route-button *appAccessCommonUser appIcon [routerLink]="urls.EVERYONE.SCHEDULE"
  [tooltip]="'navbar.tooltips.SCHEDULE' | translate" ariaLabel="Schedule">
  <mat-icon>today</mat-icon>
</app-route-button>

<app-route-button *appAccessOrganizer appIcon [routerLink]="urls.ORGANIZER.MANAGE_SCHEDULE"
  [tooltip]="'navbar.tooltips.SCHEDULE' | translate" ariaLabel="Schedule">
  <mat-icon>today</mat-icon>
</app-route-button>

<app-route-button *appAccessOrganizer appIcon [routerLink]="urls.ORGANIZER.SEND_NOTIFICATION"
                  [tooltip]="'navbar.tooltips.SEND_NOTIFICATION' | translate" ariaLabel="Send notification">
  <mat-icon>mail</mat-icon>
</app-route-button>

<ng-container *appAccessCommonUser>
  <app-route-button *appAccessOnline appIcon [routerLink]="urls.LOGGED.SHOP"
    [tooltip]="'navbar.tooltips.SHOP' | translate" ariaLabel="Shop">
    <mat-icon>shop</mat-icon>
  </app-route-button>
</ng-container>

<app-route-button appIcon [routerLink]="urls.LOGGED.ACCOUNT" [tooltip]="'navbar.tooltips.ACCOUNT' | translate"
  ariaLabel="Account">
  <mat-icon>account_circle</mat-icon>
</app-route-button>

<app-route-button *appAccessAdmin appIcon [routerLink]="urls.ADMIN.DASHBOARD"
  [tooltip]="'navbar.tooltips.ADMIN_DASHBOARD' | translate" ariaLabel="Admin dashboard">
  <mat-icon>security</mat-icon>
</app-route-button>

<app-route-button *appAccessOrganizer appIcon [routerLink]="urls.ORGANIZER.SESSIONS"
  [tooltip]="'navbar.tooltips.SESSION_LIST' | translate" ariaLabel="Admin dashboard">
  <mat-icon>history_edu</mat-icon>
</app-route-button>

<button *appAccessOnline mat-icon-button (click)="logout()" [matTooltip]="'navbar.tooltips.LOGOUT' | translate"
  aria-label="Logout">
  <mat-icon>exit_to_app</mat-icon>
</button>
