<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="participantName">
    <th mat-header-cell *matHeaderCellDef> {{ 'pending-reservations.columns.participant' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.participant.firstname + ' ' + element.participant.lastname}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="sessionDate">
    <th mat-header-cell *matHeaderCellDef> {{ 'pending-reservations.columns.session-duration-time' | translate }} </th>
    <td mat-cell
        *matCellDef="let element"> {{tableFormatter.sessionDateFormatter(element.session.start_date, element.session.end_date, this.xSmallScreen)}} </td>
    <td mat-footer-cell *matFooterCellDef><span
      *ngIf="xSmallScreen">{{'pending-reservations.footer.totalPrice' | translate }}</span></td>
  </ng-container>

  <ng-container matColumnDef="sessionName">
    <th mat-header-cell *matHeaderCellDef> {{ 'pending-reservations.columns.session-name' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.session.name}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="sessionGroup">
    <th mat-header-cell *matHeaderCellDef> {{ 'pending-reservations.columns.group' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{formatterService.getDifficultyParsed(element.session.difficulty)?.name}} </td>
    <td mat-footer-cell *matFooterCellDef>
      <ng-container *ngIf="!xSmallScreen">{{ 'pending-reservations.footer.totalPrice' | translate }}</ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> {{ 'pending-reservations.columns.price' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.session.price.toString()}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef> {{ 'pending-reservations.columns.remove' | translate }}</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button (click)="reservationsService.deleteParticipants([dataSource.data[i]])" mat-icon-button>
        <mat-icon style="color: red">clear</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<div style="display: flex; flex-direction: row-reverse">
  <div *ngIf="dataSource.data.length > 0" class="payment-card mat-elevation-z8" style="padding: 10px 30px">
    <label style="font-weight: 500">{{'pending-reservations.payment.payment-method' | translate}}:</label>
    <mat-radio-group
      class="example-radio-group"
      [(ngModel)]="paymentFormat">
      <mat-radio-button value="POINTS">{{ 'pending-reservations.payment.points' | translate }}</mat-radio-button>
      <mat-radio-button value="CASH">{{ 'pending-reservations.payment.cash' | translate }}</mat-radio-button>
    </mat-radio-group>
    <button [disabled]="paymentFormat == null" class="reserve-button" mat-raised-button (click)="doReservation()">
      <mat-icon>done</mat-icon>
      {{'pending-reservations.reserve' | translate }}
    </button>
  </div>
</div>

