<ng-container *ngIf="(language.dictionary$ | async) as $">
    <app-route-button [routerLink]="'/' + path.LOGGED.SHOP" iconName="shop" ariaLabel="Shop"></app-route-button>

    <app-route-button [routerLink]="'/' + path.LOGGED.SCHEDULE" iconName="today" ariaLabel="Schedule"></app-route-button>

    <app-route-button [routerLink]="'/' + path.LOGGED.ACCOUNT" iconName="account_circle" ariaLabel="Account" [isBadge]="true"></app-route-button>

    <app-route-button *ngIf="isAdmin" [routerLink]="'/' + path.ADMIN.DASHBOARD" iconName="security" ariaLabel="Admin dashboard"></app-route-button>

    <button mat-icon-button aria-label="Logout" (click)="logout()" aria-label="Logout">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</ng-container>