<ng-container>
  <div id="form">
    <mat-form-field>
      <mat-label>{{ 'pages.admin.config.form.FACEBOOK_LINK' | translate }}</mat-label>
      <input matInput type="text" [(ngModel)]="fbLink">
    </mat-form-field>

    <h2 id="tableHeader">{{ 'pages.admin.config.form.POINTS_SHOP' | translate }}</h2>
    <app-interactive-table [columns]="cols" [rowsObservable]="rows.data$" (onAdd)="onAdd()" (onEdit)="onEdit($event)"
                           (onDelete)="onDelete($event)"></app-interactive-table>

    <h2>{{ 'pages.admin.config.form.DIFFICULTY_OPTIONS' | translate }}</h2>
    <mat-list>
      <mat-list-item *ngFor="let group of numbers(); index as i">
        <mat-form-field class="example-form-field">
          <input matInput type="text" [(ngModel)]="groupList[i]">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupList.splice(i,1)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="example-form-field">
          <input matInput type="text" [(ngModel)]="newGroup">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupList.push(newGroup); newGroup = ''">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </mat-list-item>
    </mat-list>

    <div>
      <button appAccessOnlineButton mat-button (click)="saveData()" aria-label="Save">
        {{ 'pages.admin.config.controls.SAVE' | translate }}
      </button>

      <button mat-button (click)="cancelData()" aria-label="Cancel">
        {{ 'pages.admin.config.controls.CANCEL' | translate }}
      </button>
    </div>
  </div>
</ng-container>
