/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  --full: 100%;
  width: var(--full);
  height: var(--full);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --very-dark-blue: #25257f;
  --dark-blue: #3f51b5;
  --azure-blue: #0087e8;
  --malibu: #6cc8ff;
  --bluish-white: #e8eaf6;
}
