/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import './global/table.global.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --background: white;
  --secondary-background: linear-gradient(to bottom, #91eae482, #86a8e785, #7f7fd585);
  --very-dark-blue: #25257f;
  --dark-blue: #3f51b5;
  --azure-blue: #0087e8;
  --malibu: #6cc8ff;
  --malibu-light: #9cccfc;
  --bluish-white: #e8eaf6;

  --green-light: #a2fc9c;
}

html, body {
  --full: 100%;
  width: var(--full);
  height: var(--full);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

.page-content-wrapper {
  padding: 10px;
}

mat-error + mat-error {
  display: none !important;
}

div.mat-tab-label-content {
  color: black;
}

/* disables areas after click element */
*:focus {
  outline: none;
  box-shadow: none;
}
