:host::ng-deep button {
    min-width: fit-content !important;
}

@media (max-width: 768px) {
  .loginButton {
    width: 60%;
  }
}

@media (min-width: 769px) {
    .loginButton {
        width: 40%;
    }
}

#loginGoogle {
    background-color: orange;
    color: white;
}

#loginFacebook {
    background-color: #3c5a9a;
    color: white;
}

.divText {
    text-align: center;
}

.social-button {
    top: 20%;
    position: absolute;
}
