<div *ngIf="(lngService.dictionary$ | async) as $">
  <div *ngIf="{errors: $.errors, form: $.pages.login.form} as $">
    <form [formGroup]="form">
      <mat-grid-list cols="1" rowHeight="7rem">
        <mat-grid-tile>
          <app-email [control]="form.get('email')" [translation]="$" [serverError]="serverInputsErrors?.email">
          </app-email>
        </mat-grid-tile>

        <mat-grid-tile>
          <app-password [control]="form.get('password')" [translation]="$" [serverError]="serverInputsErrors?.password"></app-password>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button type="submit" color="primary" (click)="loginViaEmail()" id="loginEmail">
            {{ $.form.buttons.LOGIN_EMAIL }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>


    <div id="divText">{{ $.form.SIGN_IN_SOCIAL_MEDIA }}</div>

    <mat-grid-list cols="9">
      <mat-grid-tile colspan="2"></mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <button mat-fab (click)="loginViaGoogle()" id="loginGoogle">
          <mat-icon svgIcon="google"></mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="1"></mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <button mat-fab (click)="loginViaFacebook()" id="loginFacebook">
          <mat-icon svgIcon="facebook"></mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>