<mat-toolbar id="navbar">
  <span [routerLink]="'/' + path.EVERYONE.MAIN" id="logo_name_link">
    <button  [disableRipple]="true" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon svgIcon="small-logo" class="main-logo"></mat-icon>
    </button>
    <span [fxHide.xs]="true" class="app-name">Figurowy Mińsk Mazowiecki</span>
  </span>
  <span class="spacer"></span>
  <button [routerLink]="'/' + path.LOGGED.SCHEDULE" mat-icon-button aria-label="Schedule">
    <mat-icon>today</mat-icon>
  </button>
  <button [routerLink]="'/' + path.LOGGED.ACCOUNT" mat-icon-button aria-label="Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
