mat-toolbar {
  background-color: var(--bluish-white);
  box-shadow: 0 0 8px 0 var(--dark-blue);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 1000;
}

.main-logo {
  transform: scale(2);
  margin-right: 15px;
}

#logo_name_link {
  cursor: pointer;
  user-select: none;
}

#logo_name_link:focus {
  outline: 0;
}

.nav-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  align-items: center;
} 

.buttons-flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

::ng-deep .buttons-flex button {
  width: fit-content !important;
  margin: 1vw !important;
}