<div class="profiles-container">
  <button (click)="move(-1)" class="profile-change-button" mat-mini-fab color="primary"
          aria-label="Example icon button with a menu icon">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <div cdkDropList [cdkDropListEnterPredicate]="disableDrop"
       *ngFor="let profile of profiles.slice(firstItem, firstItem + displayingItemsNumber); let index = index;">
    <div class="profile-item" cdkDrag [cdkDragData]="profile">
      <div>
        <mat-icon class="profile-icon" aria-hidden="false" aria-label="profile-icon">face</mat-icon>
      </div>
      <div class="profile-name">
        {{profile.firstname}}
        <br>
        {{profile.lastname}}
      </div>
    </div>
  </div>
  <button (click)="move(1)" class="profile-change-button" mat-mini-fab color="primary"
          aria-label="Example icon button with a menu icon">
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>
