<ng-container *ngIf="(lngService.dictionary$ | async) as $">
    <ng-container *ngIf="{table: $.pages.account['points-shop'].table} as $">

        <table mat-table [dataSource]="priceTable">
            <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef> {{$.table.columns.POINTS}}</th>
                <td mat-cell *matCellDef="let option" class="points"> {{option.points}} </td>
            </ng-container>

            <ng-container matColumnDef="money">
                <th mat-header-cell *matHeaderCellDef> {{$.table.columns.REQUIRED_MONEY}}</th>
                <td mat-cell *matCellDef="let option" class="money"> {{option.require_money}} {{$.table.MONEY_UNIT}}</td>
            </ng-container>

            <ng-container matColumnDef="buy">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let option">
                    <button mat-button color="secondary" (click)="buy(option.require_money, option.points)">
                        {{$.table.BUY_BUTTON}}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
        </table>
    </ng-container>
</ng-container>