<div>
  <table mat-table [dataSource]="rows">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button *ngIf="!addDisabled" mat-icon-button aria-label="Add row button" (click)="onAdd.emit()">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let index">
        <button mat-icon-button aria-label="Edit row button" (click)="onEdit.emit(index)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete row button" (click)="onDelete.emit(index)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- dynamic columns -->
    <ng-container *ngFor="let c of columns" [matColumnDef]="c.name">
      <th mat-header-cell *matHeaderCellDef> {{ c.label }} </th>
      <td mat-cell *matCellDef="let row"> 
        <div *ngIf="checkboxOnBoolean && (row[c.name] |trim|isBoolean); else not">
          <mat-checkbox disabled [checked]="row[c.name] |trim|toBoolean"></mat-checkbox>
        </div>
        <ng-template #not>
          {{ row[c.name] }}
        </ng-template>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>

  <mat-paginator *ngIf="pagination" [pageSize]="rowsPerPage" hidePageSize></mat-paginator>
</div>