<div cdkDropList [cdkDropListEnterPredicate]="blockIfAlreadyReserved" (cdkDropListDropped)="dropProfile($event)" class="sessionCard" (click)="openInfoPane()">
  <div class="time-header">
    {{startTime}} - {{endTime}}
  </div>
  <div class="cardTitle">{{sessionData.name}}</div>
  <mat-divider></mat-divider>
  <div class="groupLevel">{{sessionData.difficulty}}</div>
  <div (click)="addParticipantsButtonClicked($event)" class="addParticipantButton" aria-label="Add participant">
    {{ 'schedule.add-participant' | translate }}
  </div>
  <mat-icon *ngIf="participants.length > 0" matTooltipClass="participants-tooltip" [matTooltip]="'schedule.already-added-participants' | translate:{value: formatParticipantsList()}" class="added-participants">account_circle</mat-icon>
</div>
