<ng-container cdkDropListGroup>
  <div class="container-grid">
    <div class="calendarHeader">
      <div class="calendarWeekChoice">
        <button class="changeWeekButton" mat-mini-fab color="primary" aria-label="Previous week" style="justify-self: end;"
                (click)="changeWeek(-1)">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="timeInterval">{{formatterService.daysRangeFormatter(calendar.from, calendar.to)}}</div>
        <button class="changeWeekButton" mat-mini-fab color="primary" aria-label="Next week" style="justify-self: start;"
                (click)="changeWeek(1)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="calendarContent">
      <app-weekday *ngFor="let i of weekdayNumbers" [sessions]="sessions[i]" [date]="getWeekdayDate(i)"
                   [profiles]="profiles" (newSessionCreated)="updateSessions()"></app-weekday>
    </div>
    <ng-container *appAccessCommonUser>
      <app-profiles-viewport [profiles]="profiles"></app-profiles-viewport>
    </ng-container>
  </div>
</ng-container>
